@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira+Extra+Condensed:wght@500;700&display=swap");
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.App .Navbar {
  width: 18%;
  color: white;
  background-color: #bd5d38;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
}
.App .Navbar .img {
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  width: 160px;
  height: 160px;
  align-self: center;
  margin-bottom: 10%;
}
.App .Navbar .Link {
  text-decoration: none;
  margin-bottom: 8%;
  font-weight: 500;
  font-size: medium;
  color: rgba(255, 255, 255, 0.5);
}
.App .Navbar .Link:hover {
  color: rgba(255, 255, 255, 0.719);
}
.App .Navbar .Link:focus {
  color: white;
}
.App .About {
  display: flex;
  flex-direction: column;
  width: 82%;
}
.App .About h1 {
  padding-top: 14%;
}
.App .About h1, .App .About h2, .App .About p {
  padding-left: 4%;
  font-size: 6rem;
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  color: #343a40;
}
.App .About span {
  color: #bd5d38;
}
.App .About a {
  text-decoration: none;
  color: #bd5d38;
}
.App .About a:hover {
  text-decoration: underline;
  color: #824027;
}
.App .About h2 {
  margin-top: -1.7%;
  font-size: 1.35rem;
  font-weight: 500;
  color: #868e96;
}
.App .About p {
  margin-top: -0.4%;
  width: 85%;
  text-align: justify;
  font-family: "Open Sans", serif;
  padding-top: 54px;
  color: #868e96;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.App .About p span {
  color: rgba(52, 58, 64, 0.8235294118);
  font-weight: 600;
}
.App .About .icons {
  padding-left: 4%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
}
.App .About .icons .linkedin, .App .About .icons .github {
  width: 45px;
  height: 45px;
  border-radius: 50px !important;
  color: rgba(52, 58, 64, 0.9019607843);
}
.App .About .icons :hover {
  color: #bd5d38;
}
.App .Education {
  margin-top: 5%;
  width: 52%;
}
.App .Education .trophy {
  margin-right: 2%;
  margin-top: -1%;
  width: 22px;
  height: 22px;
  color: #bd5d38;
}
.App .Experience, .App .Education, .App .Skills, .App .References {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 3%;
}
.App .Experience h1, .App .Education h1, .App .Skills h1, .App .References h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}
.App .Experience h1, .App .Experience h2, .App .Experience h3, .App .Experience ul li, .App .Education h1, .App .Education h2, .App .Education h3, .App .Education ul li, .App .Skills h1, .App .Skills h2, .App .Skills h3, .App .Skills ul li, .App .References h1, .App .References h2, .App .References h3, .App .References ul li {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}
.App .Experience h2, .App .Education h2, .App .Skills h2, .App .References h2 {
  font-size: 1.75rem;
  margin-top: 6%;
}
.App .Experience h3, .App .Education h3, .App .Skills h3, .App .References h3 {
  width: 150%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
  margin-bottom: 1.35rem;
  color: #868e96;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App .Experience h3 span, .App .Education h3 span, .App .Skills h3 span, .App .References h3 span {
  color: #bd5d38 !important;
  font-size: 1.5rem;
}
.App .Experience ul, .App .Education ul, .App .Skills ul, .App .References ul {
  margin-top: 2%;
}
.App .Experience ul li, .App .Education ul li, .App .Skills ul li, .App .References ul li {
  font-family: "Open Sans", serif;
  color: #868e96;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.App .Skills {
  margin-top: 10%;
}
.App .Skills h1 {
  margin-bottom: 11%;
}
.App .Skills h3 {
  font-size: 1.5rem;
}
.App .Skills .icons {
  margin-top: 2%;
  color: #868e96;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
}
.App .Skills .icons svg:hover {
  color: #bd5d38;
}
.App .Skills .icons svg:nth-child(9) {
  margin-left: 1%;
}
.App .Skills .icons svg:nth-child(12) {
  margin-left: 1%;
}
.App .References {
  margin-top: 5%;
}
.App .References .work {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}
.App .References .work h3 {
  color: #343a40;
}
.App .References .work .haut, .App .References .work .bas {
  display: flex;
  flex-direction: row;
  height: 150px;
}
.App .References .work .haut img, .App .References .work .bas img {
  width: 30px;
  height: 30px;
  padding-right: 2%;
}
.App .References .work .haut {
  background-color: rgba(134, 142, 150, 0.1254901961);
  padding-top: 15%;
  padding-left: 15%;
}
.App .References .work .bas {
  background-color: rgba(134, 142, 150, 0.031372549);
  display: flex;
  flex-direction: column;
  padding-top: 9%;
  padding-left: 3%;
}
.App .References .work .bas :nth-child(2) {
  margin-top: -9%;
  text-decoration: none;
}
.App .References .work:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.382);
}/*# sourceMappingURL=style.css.map */